@model WebApplication3.Models.AparatKategoria
@using static WebApplication3.Models.AparatViewModel

@{
    ViewData["Title"] = "Menu";
    var upCat = ViewBag.UpperCategory as AparatKategoria;
}

<h2>Menu according to Categories</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h4>Kategoria</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt> Back: </dt>
                <dd>
                    @if (Model.UpperCategory != null)
                    {
                        @Html.ActionLink(upCat.Name, "Menu", new { id = upCat.Id })
                    }
                </dd>
                <dt> You are HERE: </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
            <p>  Sub-categories:  </p> 
            <hr />
            <dl class="dl-horizontal">
                @{ var nr = 1;}
                @foreach (var item in ViewBag.SubCategories as List<AparatKategoria>)
                {
                    <dt> @(nr++) </dt>
                    <dd> @Html.ActionLink(item.Name, "Menu", new { id = item.Id })</dd>
                }
            </dl>
        </div>
        <div class="col-8">
            <h4>Cameras</h4>
            <hr />
            <dl class="dl-horizontal">
                @{ var nrA = 1;}
                @{ foreach (var itemA in ViewBag.Aparaty as List<AparatViewModel>)
                    {
                        var linktext = itemA.Producent + " - " + itemA.Model;
                        <dt> @(nrA++) </dt>
                        <dd> @Html.ActionLink(linktext, "Details", "AparatViewModel", new { id = itemA.Id })</dd>
                    }
                }
            </dl>
            <hr />
        </div>
    </div>
</div>

