@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@using WebApplication3.Code;
@using React.AspNet;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{

    var BagStr = "";
    var bag = Context.Session.Get<EquipmentBag>("EquipmentBag");
    IdentityUser user;
    IList<String> roles;
    if (bag != null)
    {

        if (bag.TotalAmount() != 0) { BagStr = "(" + bag.TotalAmount() + ")"; }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nav</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</head>
<body style="height: 90vh; width: 98vw;">
    <header class="row h-25">

        <div class="col-2 boxedContent">
            <div id="WerraLogo"></div>
        </div>
        <div class="col-2 boxedContent">
            <div class="mx-auto d-flex justify-content-center">
                @if (SignInManager.IsSignedIn(User))

                {<ul class="navbar-nav flex-grow-1 flex-sm-column d-flex justify-content-center">
                        <li class="nav-item text-center">
                            <a class="nav-link text-warning" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @User.Identity.Name!</a>
                        </li>
                        <li class="nav-item d-flex justify-content-center">
                            <form class="form-inline d-flex justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-primary text-warning">Log out!</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {<ul class="navbar-nav flex-grow-1 flex-sm-column d-flex justify-content-center">
                        <li class="nav-item d-flex justify-content-center text-center">
                            <a class="nav-link text-warning" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Log in!</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
        <div class="col-8 boxedContent">
            <div>
                @RenderSection("PageHead", required: false)
            </div>
        </div>
    </header>
    <main class="row h-75">
        <div class="col-3 boxedContent h-100">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent box-shadow mb-3 flex-sm-column-reverse">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-column-reverse">
                        <ul class="navbar-nav flex-grow-1 flex-sm-column" id="navbar">
                            <li class="nav-item">
                                <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Aparaty_His">Short History of Photography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Aparaty_Foto_Podst">Photography - Basics</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="" asp-controller="AparatViewModel" asp-action="Index">Camera Database</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="" asp-controller="ObiektywViewModel" asp-action="Index">Lens Database</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="" asp-controller="AparatKategoria" asp-action="Menu">Camera Categories</a>
                                </li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    user = await UserManager.FindByNameAsync(User.Identity.Name);
                                    roles = await UserManager.GetRolesAsync(user);
                                    @if (roles.Contains("Category-Manager"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-warning" asp-area="" asp-controller="AparatKategoria" asp-action="Index">Add A New Camera Category</a>
                                        </li>
                                    }
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="" asp-controller="Bagnets" asp-action="Index">Add A New Lens Mount Type</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-warning" asp-area="" asp-controller="EquipmentBag" asp-action="Index">   @("Equipment Bag" + BagStr)</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                user = await UserManager.FindByNameAsync(User.Identity.Name);
                                roles = await UserManager.GetRolesAsync(user);
                                @if (roles.Contains("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-warning" asp-area="" asp-controller="Admin" asp-action="Index">Administrate Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-warning" asp-area="" asp-controller="Role" asp-action="Index">Administrate User Roles</a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-9 boxedContent overflow-auto mainContent h-100">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
           </div>
    </main>
    <footer class="boxedContent footer row footerContent">

        <div class="col-2">
            <a class="text-warning" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a>
        </div>
        <div class="col-8">
            @RenderSection("PageFoot", required: false)
        </div>
        <div class="col-2">
            <p style="float:right"> &copy; @DateTime.Now.Year aparaty.co.uk</p>
        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
