@model IEnumerable<WebApplication3.Models.AparatViewModel>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KrajPochodzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokProdukcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wycofany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bagnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajPochodzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokProdukcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wycofany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bagnet.Typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoria.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a> |
                @Html.ActionLink("Dodaj do torby", "AddAparatToEquipmentBag", "EquipmentBag", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
