@using WebApplication3.Models;
@using WebApplication3.Code;
@using WebApplication3.Data;
@model WebApplication3.Models.EquipmentBag

@{ ViewBag.Title = "Contents of the bag"; }
@section PageHead{
    <div class="container">
        <h3>Hello, this is @ViewData["Title"]</h3>
        <h4>Here, You can see all the equipment currently in the bag</h4>
    </div>}

<h1 class="bg-info text-white">@ViewBag.Title</h1>

<p>     Amount of equipment: @Model.TotalAmount()</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Amount
        </th>
        <th>
            Operations
        </th>
    </tr>
    @{ var i = 0;}
    @foreach (var item in Model.AparatyEquippped)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aparat.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aparat.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AparatAmount)
            </td>
            <td>
                @Html.ActionLink("View", "AparatDetails", new { index = i }) |
                @Html.ActionLink("+ 1", "AddAparatUnit", new { index = i }) |
                @Html.ActionLink("- 1", "SubstractAparatUnit", new { index = i }) |
                @Html.ActionLink("Delete", "DeleteAparat", new { index = i }) |
            </td>
        </tr>
    }
    @foreach (var item in Model.ObiektywyEquipped)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Obiektyw.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obiektyw.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObiektywAmount)
            </td>
            <td>
                @Html.ActionLink("View", "ObiektywDetails", new { index = i }) |
                @Html.ActionLink("+ 1", "AddObiektywUnit", new { index = i }) |
                @Html.ActionLink("- 1", "SubstractObiektywUnit", new { index = i }) |
                @Html.ActionLink("Delete", "DeleteObiektyw", new { index = i }) |
            </td>
        </tr>
        //     }
        i++;
    }
</table>
<h2> Total weight of the bag: @Model.TotalWeight() grams </h2>
<p>
    @Html.ActionLink("Return to Cameras", "Index", "AparatViewModel") |
    @Html.ActionLink("Return to Lenses", "Index", "ObiektywViewModel") |
    @Html.ActionLink("Collect the Bag", "Create", "EquipmentBag")
</p> 